{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
	{% include "partial/row-heading.twig" with {post: page, image: page.thumbnail} %}
  
  <section class='row intro'>
    <div class='row-inner'>
      <div class='col text'>
        <div class='col-inner'>
          {{ ui.p(page.introduction_text) }}
        </div>
      </div>

      <div class='col image'>
        <div class='col-inner'>
          {{ ui.image(page.introduction_image) }}
        </div>
      </div>
    </div>
  </section>

  <section class='row organizations'>
    <div class='row-inner'>
      <div class='col image'>
        <div class='col-inner'>
          {{ ui.image(page.organization_sections_image) }}
        </div>
      </div>

      <div class='col orgs'>
        <div class='col-inner'>
          {% for item in page.get_field('organization_sections').organizations %}
							<div class="organization">
                {% for section in item.section %}
                  <div class="section">
                    {{ ui.p(section.text) }}
                    <div class="buttons-wrapper" >
                      {% for button in section.buttons %}
                        {{ ui.button(button.link, button.class) }} 
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </div>
						{% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section class='row still-have-questions'>
  <div class='row-inner'>
    <div class='col x-lrg-col-6 lrg-col-8 med-col-10 sml-col-10 top-pad-0-5 bottom-pad-0-5 x-lrg-pad-right-1 x-lrg-pad-left-1 '>
      <div class='col-inner'>
        {{ ui.p(page.still_have_questions_text) }}
        {{ ui.button(page.still_have_questions_button, 'secondary') }}
      </div>
    </div>
  </div>
</section>
  
	{% include "partial/row-stay-informed.twig" with { form_shortcode: options.form_shortcode } %}
{% endblock %}