{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
	{% include "partial/row-heading.twig" with {post: page.type, image: options.faq_methods_image.url} %}
  <section class='row main-row top-pad-0-5'>
    <div class='row-inner'>
      <div class='accords col x-lrg-col-6 lrg-col-5 med-col-10 sml-col-10'>
        <div class='col-inner'>
          <div class="tabs">
            <div class="tab-inner">
              <div class="tab-nav">
                <ul class="tab-nav-inner">
                  {% for faq_term in faq_terms|keys %}
                    <li>
                      <button id="{{ faq_term }}">{{ faq_terms[faq_term] }}</button>
                    </li>
                  {% endfor %}    
                </ul>
              </div>

              <div class="tab-bodies">
                  {% for faq_term in faq_terms|keys %}
                    <div class="tab-body search-wrapper" id="{{ faq_term }}">
                      {{ ui.search('Search question titles...', faq_term ~ '-search') }}
                      {% set current_name_str = faq_term|slice(0,2) ~ '_loop'%}
                      <div class="accordion-wrapper">
                        {% for post in attribute(_context, current_name_str) %}
                          {{ ui.accordion(post.title, post.content) }}
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col image x-lrg-col-4 lrg-col-4 med-col-10 sml-col-10'>
        <div class='col-inner'>
          {{ ui.image(options.faq_inside_image) }}
        </div>
      </div>
    </div>
  </section>
	{% include "partial/row-still-have-questions.twig" %}
	{% include "partial/row-stay-informed.twig" %}
{% endblock %}  