{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
	{% include "partial/row-heading.twig" with {post: page} %}
  {# Understand provincial requirements #}
  <section class='row understand-provincial-requirements top-pad-0-5 bottom-pad-0-5  x-lrg-pad-right-1 x-lrg-pad-left-1'>
    <div class='row-inner center'>
      <div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10  x-lrg-pad-right-1 x-lrg-pad-left-1'>
        <div class='col-inner'>
          {{ ui.p(page.understand_provincial_requirements_text) }}
        </div>
      </div>
      <div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10 x-lrg-pad-right-0-5'>
        <div class='col-inner'>
          {{ ui.p(page.understand_provincial_requirements_image) }}
        </div>
      </div>
    </div>
  </section>

  {# Establish your goals #}
  <section class='row understand-provincial-requirements top-pad-0-5 bottom-pad-0-5  x-lrg-pad-right-1 '>
    <div class='row-inner center  '>
     <div class='col x-lrg-col-6 lrg-col-5 med-col-10 sml-col-10'>
        <div class='col-inner'>
          {{ ui.p(page.establish_your_goals_image) }}
        </div>
      </div>
      <div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10 x-lrg-pad-right-1 x-lrg-pad-left-1'>
        <div class='col-inner'>
          {{ ui.p(page.establish_your_goals_text) }}
        </div>
      </div>
    </div>
  </section>

  {# Connect with other homeschoolers #}
  <section class='row understand-provincial-requirements top-pad-0-5 x-lrg-pad-right-1 x-lrg-pad-left-1'>
    <div class='row-inner'>
      <div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10 x-lrg-pad-right-1 x-lrg-pad-left-1'>
        <div class='col-inner'>
          {{ ui.p(page.connect_with_other_homeschoolers_text) }}
          {{ ui.button(page.connect_with_other_homeschoolers_button.title, page.connect_with_other_homeschoolers_button.link) }}
        </div>
      </div>
      <div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10 x-lrg-pad-right-0-5'>
        <div class='col-inner'>
          {{ ui.p(page.connect_with_other_homeschoolers_image) }}
        </div>
      </div>
    </div>
  </section>

  {# Choose your curriculum #}
  <section class='row understand-provincial-requirements bottom-pad-0-5 x-lrg-pad-right-2'>
    <div class='row-inner'>
      <div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
        <div class='col-inner'>
          {{ ui.p(page.choose_your_curriculum_image) }}
        </div>
      </div>
      <div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10 top-pad-1 x-lrg-pad-right-1 x-lrg-pad-left-1'>
        <div class='col-inner'>
          {{ ui.p(page.choose_your_curriculum_text) }}
          {{ ui.button(page.choose_your_curriculum_button.title, page.choose_your_curriculum_button.link) }}
        </div>
      </div>
    </div>
  </section>

  {# Enjoy the journey #}
  <section class='row understand-provincial-requirements x-lrg-pad-right-2 x-lrg-pad-left-2'>
    <div class='row-inner'>
      <div class='col x-lrg-col-8 lrg-col-5 med-col-10 sml-col-10  x-lrg-pad-right-1 x-lrg-pad-left-1'>
        <div class='col-inner'>
          {{ ui.p(page.enjoy_the_journey_text) }}
        </div>
      </div>
      <div class='col x-lrg-col-8 lrg-col-5 med-col-10 sml-col-10'>
        <div class='col-inner'>
          {{ ui.p(page.enjoy_the_journey_image) }}
        </div>
      </div>
    </div>
  </section>
	{% include "partial/row-stay-informed.twig" %}
{% endblock %}  