{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
	{% include "partial/row-heading.twig" with {post: page, image: page.thumbnail} %}
  <section class='row main-row top-pad-0-5 bottom-pad-0-5'>
    <div class='row-inner'>
      <div class='col image x-lrg-col-4 lrg-col-4 med-col-10 sml-col-10'>
        <div class='col-inner'>
          {{ ui.image(page.image) }}
        </div>
      </div>
      <div class='col text x-lrg-col-6 lrg-col-6 med-col-10 sml-col-10'>
        <div class='col-inner'>
          {{ ui.p(page.text) }}
          <div class="search-wrapper">
            {{ ui.search('Search resources...', 'resources-search') }}

            <div class="search-filter-nav">
              <ul class="search-filter-nav-inner">
                {% for field_option in field_options.choices|keys %}
                  <li>
                    <button id="{{ field_option|slugify }}">{{ field_options.choices[field_option] }}</button>
                  </li>
                {% endfor %}    
              </ul>
            </div>


            <div class="accordion-wrapper">
              {% for resource in page.get_field('resources') %}
                {{ ui.accordion(resource.title, resource.content, resource.tag|join(' ')) }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "partial/row-still-have-questions.twig" %}
  {% include "partial/row-stay-informed.twig" with { form_shortcode: options.form_shortcode } %}
{% endblock %}  