{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
{# splash page #}
	<section class='splash row heading'>
		<div class='splash-inner'>
			<div class='col col-'>
				<div class='col-inner'>
					<h3>{{ page.landing_area_subitle }}</h3>
					<h1>{{ page.landing_area_title }}</h1>
					<h5>{{ page.landing_area_text }}</h5>
					{{ ui.button(page.landing_area_main_button, 'top') }}
					{{ ui.button(page.landing_area_secondary_button, 'secondary') }}
				</div>
			</div>
		</div>
	</section>

	{# latest news and send me info #}
	<section class='row'>
		<div class='row-inner'>
			<div class='col x-lrg-col-4 lrg-col-5 med-col-10 sml-col-10'>
				<div class='col-inner'>
					
				</div>
			</div>
			<div class='col x-lrg-col-8 lrg-col-7 med-col-10 sml-col-10'>
				<div class='col-inner'>
						{% include "partial/stay-informed-form.twig" %}
				</div>
			</div>
		</div>
	</section>

	{# what is homeschooling #}
	<section class='row'>
		<div class='row-inner'>
			<div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
				<div class='col-inner'>
					video
				</div>
			</div>
			<div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
				<div class='col-inner'>
					side tabs
				</div>
			</div>
		</div>
	</section>

	{# You’ve Decided to Homeschool… Now What? #}
	<section class='row '>
		<div class='row-inner'>
			<div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
				<div class='col-inner'>
					{{ ui.p(page.now_what_text) }}
					<div class="download-wrapper" >
						{% for item in page.get_field('now_what').downloads %}
							{{ ui.button(item.button, 'download') }}
						{% endfor %}
					</div>
					{{ ui.button(page.now_what_main_button) }}
				</div>
			</div>
			<div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
				<div class='col-inner'>
					image
				</div>
			</div>
		</div>
	</section>

	{# 5 Top Homeschool Questions #}
	<section class='row'>
		<div class='row-inner'>
			<div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
				<div class='col-inner'>
					image
				</div>
			</div>
			<div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
				<div class='col-inner'>
					{{ ui.h2(page.top_homeschool_questions_title) }}
					accordions
					{{ ui.button(page.top_homeschool_questions_main_button) }}
				</div>
			</div>
		</div>
	</section>

	{# Education Methods #}
	<section class='row'>
		<div class='row-inner'>
			<div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
				<div class='col-inner'>
					{{ ui.p(page.education_methods_text) }}
					{{ ui.button(page.education_methods_main_button) }}
					
				</div>
			</div>
			<div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
				<div class='col-inner'>
					bg image
				</div>
			</div>
		</div>
	</section>

	{# Resources #}
	<section class='row'>
		<div class='row-inner'>
			<div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
				<div class='col-inner'>
					{{ ui.p(page.resources_text) }}

					<div class="cards">
						{% for item in page.get_field('resources').cards %}
								<div class="card">
									<a href="{{ item.link.url }}" class="card-inner">
										<div class="card">{{ item.icon_svg }}</div>
										<h3>{{ item.link.title }}</h3>
									</a>
								</div>
						{% endfor %}
					</div>
					
					{{ ui.button(page.resources_secondary_button, 'secondary') }}
				</div>
			</div>
		</div>
	</section>

	{# Stories row #}

	<section class='row'>
		<div class='row-inner'>
			<div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
				<div class='col-inner'>
					posts
				</div>
			</div>
		</div>
	</section>

	{% include "partial/row-stay-informed.twig" %}
	

{% endblock %}
