{# Buttons #}
{% macro button(text, url, class) %}
	<a href="{{ url }}" class="button {{ class }}"><span>{{ text }}</span></a>
{% endmacro %}

{# H1 Heading #}
{% macro h1(text, class) %}
	<h1 class="{{ class }}">{{ text }}</h1>
{% endmacro %}

{# H2 Heading #}
{% macro h2(text, class) %}
	<h2 class="{{ class }}" >{{ text }}</h2>
{% endmacro %}

{# H3 Heading #}
{% macro h3(text, class) %}
	<h3 class="{{ class }}" >{{ text }}</h3>
{% endmacro %}

{# H4 Heading #}
{% macro h4(text, class) %}
	<h4 class="{{ class }}" >{{ text }}</h4>
{% endmacro %}

{# H5 Heading #}
{% macro h5(text, class) %}
	<h5 class="{{ class }}" >{{ text }}</h5>
{% endmacro %}

{# H6 Heading #}
{% macro h6(text, class) %}
	<h6 class="{{ class }}" >{{ text }}</h5>
{% endmacro %}

{# Paragraph #}
{% macro p(text, class) %}
	<div class="text-wrapper {{ class }}" >{{ text|wpautop }}</div>
{% endmacro %}

{# Image #}
{% macro img(img, class) %}
	<div class="img-wrapper {{ class }}" >
		<img src="{{ TimberImage(img).src }}" alt="{{ TimberImage(img).alt }}">
	</div>
{% endmacro %}
